apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 4
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      nodeSelector:
        topology.kubernetes.io/zone: us-east-1d   
      containers:
      - name: nginx-container
        image: nginx:latest
        ports: 
        - containerPort: 80
        volumeMounts:
        - name: ebs-static-storage
          mountPath: /usr/share/nginx/html
      volumes:
      - name: ebs-static-storage
        persistentVolumeClaim: 
          claimName: ebs-pvc
